---
import Layout from '../layouts/Layout.astro';
import HomeContentCard from '../components/HomeContentCard.astro';
---

<Layout title="OFFD.chat">
	<main>
		<h1>Welcome to <span class="text-gradient">OFFD</span>!</h1>

		<p class="quote">Oasis For Friendly Discussions</p>

		<ul role="list" class="grid">
			<HomeContentCard title="QOTD">
				<p>Coming Soon...</p>
			</HomeContentCard>

			<HomeContentCard title="Events">
				<p>Coming Soon...</p>
			</HomeContentCard>

			<HomeContentCard title="Active Debates">
				<p>Coming Soon...</p>
			</HomeContentCard>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding-top: 2rem;
		max-width: 120ch;
	}

	h1 {
		font-size: 4rem;
		text-align: center;
	}

	.text-gradient {
		font-weight: 900;
		background-image: linear-gradient(to right, #f0e05f, #30bb73, #30e0c0);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	.quote {
		font-style: italic;
		text-align: center;
		font-size: 1.5rem
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(38ch, 1fr));
		gap: 1rem;
	}
</style>
